# --------------------
# Bower Files
# --------------------
.bower-*/
assets/libs/*

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

.idea

!assets/libs/index.html
