@import url('../fonts/Dinar_One_Light/fonts.css');
@import url('../fonts/Dinar_One_Medium/fonts.css');
@import url('../fonts/Oxygen/fonts.css');

body {
  font-family: 'Dinar_One_Light';
  font-size: 14px;
  color: #333;
  padding-top: 59px;
  background-color: #333;
}

.navbar-express {
  border-color: #1a1a1a;
  background-image: url(../img/navbar-express-bg.png);
  border: none;
  border-bottom: 1px solid #1a1a1a;
  height: 60px;
}

.navbar-express .navbar-header{
  height: 60px;
}

.navbar-express .navbar-brand {
  float: left;
  padding: 8px 0 8px 10px;
  height: auto;
}

.navbar-express .express-navbar-link {
  display: inline-block;
  padding: 5px;
  margin-top: 13px;
  margin-right: 3px;
  line-height: 0em;
}

.navbar-express .express-navbar-link:first-child {
  margin-right: 10px;
}

.navbar-express .express-navbar-link img {
  width: 19px;
  height: 19px;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.tool-bar {
  display: table;
  width: 100%;
  z-index: 1001;
  position: relative;
}

.tool-bar .user {
  padding-top: 10px;
  width: 50%;
}

.tool-bar .user a {
  font-family: 'Dinar_One_Light';
  font-size: 16px;
  color: #fff;
}

.tool-bar .user .avatar {
  display: block;
  width: 28px;
  padding: 0;
  margin: 0;
  float: right;
  margin-left: 10px;
}

.tool-bar .user .avatar img {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.tool-bar .user .logout {
  margin-top: 3px;
  display: block;
}

.tool-bar .lang {
  padding-top: 10px;
  width: 50%;
}

.tool-bar .lang a{
  font-family: 'Oxygen';
  font-size: 18px;
  color: #fff;
}

.cover {
  position: relative;
  height: 430px;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 430px;
  background: url(../img/intro.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

.intro > .express_big_white {
  font-family: 'Dinar_One_Light';
  font-size:  1.999em;
  color: #FFF;
  font-weight: 700;
  margin-top: 65px;
  text-align: center;
}

.intro > .express_big_white small {
  color: #fff;
  display: block;
  margin-top: 10px;
  font-size: 75%;
  font-weight: normal;
}

.intro .search {
  position: absolute;
  bottom: 40px;
  background: #fff;
  height: 100px;
  margin: 0 auto;
  width: 295px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: calc( 50% - (295px/2));
  bottom: 70px;
}

.intro .search > .search-inner {
}

.intro .search .btn-search {
  color: #fff;
  background-color: #F42534;
  font-family: 'Dinar_One_Medium';
  font-size: 1.618em;
  padding: 7px 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 1px;
}

.intro .search .search-box{
  float:right;
  width: 214px;
  height: 50px;
  padding: 0 12px;
  line-height: 1.1;
  font-size: 1.3em;
  color: #999;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
