@import url('../fonts/Dinar_One_Light/fonts.css');
@import url('../fonts/Dinar_One_Medium/fonts.css');

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-express .navbar-header{
    width:100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

body {
  font-family: 'Dinar_One_Light';
  font-size: 16px;
  color: #333;
  padding-top: 70px;
}

.navbar-express {
  border-color: #1a1a1a;
  background-color: #fff;
  background-image: url(../img/navbar-express-bg.png);
}

.navbar-express .navbar-brand {
  float: left;
  padding: 7px 15px;
}

.navbar-express .navbar-toggle {
  float: right;
  color: #333;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding-left: 0px;
}

.navbar-express .express-navbar-link {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 8px;
}

.navbar-express .express-toggle {
  position: relative;
  padding: 9px 10px;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding-left: 0px;
  margin-right: auto;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
