@import url('../fonts/Dinar_One_Light/fonts.css');
@import url('../fonts/Dinar_One_Medium/fonts.css');
@import url('../fonts/Oxygen/fonts.css');

body {
  font-family: 'Dinar_One_Light';
  font-size: 16px;
  color: #333;
  padding-top: 62px;
  background-color: #333;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.navbar-express {
  border-color: #1a1a1a;
  background-image: url(../img/navbar-express-bg.png);
  border: none;
  border-bottom: 1px solid #1a1a1a
}

.navbar-express .navbar-brand {
  float: left;
  padding: 10px 15px;
}

.navbar-express .express-navbar-link {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 17px;
}

.navbar-express .express-toggle {
  position: relative;
  padding: 17px 17px;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
  padding-left: 0px;
  margin-right: auto;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.intro {
  display: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top center;
}

.intro .tp-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
}

.banner{
  width:100%;
	position:relative;
}

.tool-bar {
  position: absolute;
  width: 100%;
  z-index: 1001;
}

.tool-bar .user {
  padding-right: 17px;
  padding-top: 10px;
  width: 50%;
}

.tool-bar .user a {
  font-family: 'Dinar_One_Light';
  font-size: 16px;
  color: #fff;
}

.tool-bar .user .avatar {
  display: block;
  width: 28px;
  padding: 0;
  margin: 0;
  float: right;
  margin-left: 10px;
}

.tool-bar .user .avatar img {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.tool-bar .user .logout {
  margin-top: 3px;
  display: block;
}

.tool-bar .lang {
  padding-left: 17px;
  padding-top: 10px;
  width: 50%;
}

.tool-bar .lang a{
  font-family: 'Oxygen';
  font-size: 18px;
  color: #fff;
}

.express_big_white {
  font-family: 'Dinar_One_Light';
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-express .navbar-header{
    width:100%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .navbar-express .express-navbar-link {
    margin-left: 30px;
  }

  .navbar-express .express-toggle {
    margin-left: 30px;
    padding-right: 30px;
  }

  .tool-bar .user {
    padding-top: 20px;
    padding-right: 45px;
  }

  .tool-bar .lang {
    padding-top: 20px;
    padding-left: 45px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}
